
body {
	background-color: #000;
	color: whitesmoke;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Archivo", sans-serif;
}

a {
  cursor: pointer;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	width: 100%;
}

.center {
  text-align: center;
}

.txt-shadow-gold {
	text-shadow: 1px 1px 1px gold;
}
.txt-shadow-red {
	text-shadow: 1px 1px 1px red;
}
.txt-shadow-blue {
	text-shadow: 1px 1px 1px blue;
}

button:hover {
	cursor: pointer;
}

.main-title {
	color: gold;
	text-align: center;
  padding-top: 30px;
}

#ctn-main {
	margin-top: 60px;
	text-align: center;
}

.card {
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.9);
	width: 300px;
	min-width: 300px;
	text-wrap: wrap;
	text-align: left;
	margin: 15px;
	padding: 0px 10px 10px 10px;
  vertical-align: top;
  cursor: crosshair;
}

.card p {
  margin: 0px;
  padding: 0px;
}

.homeButton {
  background-color: #ffffff;
  list-style-type: none;
  color: #000000;
  width: 25%;
}

.homeButton:hover {
  background-color: #666666;
  color: #ffffff;
}

.planetButton {
  background-color: #F49D20;
  list-style-type: none;
  color: #FFECBF;
  width: 25%;
}

.planetButton:hover {
  background-color: #FFECBF;
  color: #F49D20;
}

.starshipButton {
  background-color: #1C4632;
  list-style-type: none;
  color: #CFF7DA;
  width: 25%;
}

.starshipButton:hover {
  background-color: #CFF7DA;
  color: #1C4632;
}

.peoplepButton {
  background-color: #431A38;
  list-style-type: none;
  color: #F7CFD1;
  width: 25%;
}

.peoplepButton:hover {
  background-color: #F7CFD1;
  color: #000000;
}

.card-films {
	border: 3px solid #ffffff;
	text-shadow: 1px 1px 1px #ffffff;
  background-color: #ffffff;
	display: inline-block;
  color: #000000;
}

.card-films:hover {
  background-color: #cccccc;
}

.card-planet {
	border: 3px solid #FFECBF;
	text-shadow: 1px 1px 1px #F49D20;
  background-color: #F49D20;
	display: inline-block;
  color: #FFECBF;
}

.card-planet:hover {
  background-color: #f39006;
}

.card-starships {
	border: 3px solid #CFF7DA;
	text-shadow: 1px 1px 1px #1C4632;
  background-color: #1C4632;
	display: inline-block;
	flex: 1;
  color: #CFF7DA;
}

.card-starships:hover {
  background-color: #153526;
}

.card-people {
	border: 3px solid #F7CFD1;
	text-shadow: 1px 1px 1px #431A38;
  background-color: #431A38;
	display: inline-block;
  padding-bottom: 20px;
  color: #F7CFD1;
}

.card-people:hover {
  background-color: #301329;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  cursor: pointer;
  padding: 20px 10px;
  font-size: 22px;
}

h1 {
  margin: 0px 0px 20px 0px;
}

.nav svg {
  float: left;
  margin-right: 10px;
}

#root .searchField, #root .filterPlanet {
  background-color: #ffffff;
  border-radius: 6px;
  margin-right: 10px;
  width: 200px;
  text-align: left;
}

.autocomplete {
  background-color: #fff;
  padding: 0px;
  border-radius: 6px;
  text-align: center;
}

.MuiInputBase-root {
  padding: 0px;
  margin: 0px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


button {
  padding: 8px;
  border-radius: 6px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  margin: 0px 10px 0px 0px;
}

select {
  padding: 8px;
  border-radius: 6px;
}

@media only screen and (max-width: 800px) {
	body {
		font-size: x-large;
	}

  .main-title {
    padding-top: 50px;
  }
}
